# ---------------------------
# App Environment
# ---------------------------
PORT=your-port-number-goes-here

# ---------------------------
# Security
# ---------------------------
SESSION_SECRET=your-session-secret-goes-here

# ---------------------------
# Database
# ---------------------------
MONGO_URI=your-mongodb-uri-goes-here

# ---------------------------
# Email (if you use BREVO.com)
# ---------------------------
BREVO_API_KEY=your-brevo-api-key-goes-here
BREVO_VERIFIED_SENDER=your-brevo-verified-sender-goes-here

# ---------------------------
# JWT
# ---------------------------
JWT_SECRET=your-jwt-secret-goes-here
